[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pylint = "*"
ipython = "*"
"backports.tempfile" = "*"


[packages]

"neo4j-driver" = ">=1.6.0"
pandas = "*"
future = "*"
"backports.tempfile" = "*"


[requires]

python_version = "2.7"
